{% extends "contact/base.html" %}

{% block title %}Add New Contact Records{% endblock title %}

{% block content %}
<div class="col-md-12">
    <h4>Django CRUD </h4> 
        
 <form method="POST" class="post-form" action="/addnew" enctype="multipart/form-data">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Enter Details</h3>  
  </div>  
   </div>  
  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Nombre:</label>  
  <div class="col-sm-4">  
    {{ form.name }}  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Apellido:</label>  
  <div class="col-sm-4">  
    {{ form.last_name }}  
  </div>  
   </div>  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Email:</label>  
  <div class="col-sm-4">  
    {{ form.email }}  
  </div>  
   </div> 
    <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Telefono:</label>  
  <div class="col-sm-4">  
    {{ form.phone }}  
    {% if form.phone.errors %}
    {{form.phone.errors}}
    {% endif %}
  
  </div>  
   </div> 
    <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> image:</label>  
  {{form.photo}}
   </div>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Submit</button>  
  </div>  
   </div>  
  </div>  
 </form>  
</div> 
{% endblock content %} 