{% extends "contact/base.html" %}

{% block title %}Edit contact Records{% endblock title %}

{% block content %}
<div class="col-md-12">
    <h4>Django CRUD </h4> 
        
 <form method="POST" class="post-form" action="/update/{{contact.pk}}"  enctype="multipart/form-data">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Enter Details</h3>  
  </div>  
   </div>  
  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Nombre:</label>  
  <div class="col-sm-4">  
    <input type="text" class="form-control" name="name" id="id_id" required maxlength="20" value="{{ contact.name }}"/>  
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Apellido:</label>  
  <div class="col-sm-4">  
     <input type="text" class="form-control" name="last_name" required maxlength="20" value="{{ contact.last_name }}"/>  
  </div>  
   </div>  
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Email:</label>  
  <div class="col-sm-4">  
    <input type="text" class="form-control" name="email" required maxlength="20" value="{{ contact.email }}"/>  
  </div>  
   </div> 
    <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> Telefono:</label>  
  <div class="col-sm-4">  
    <input type="text" class="form-control" maxlength=10 onkeypress ="return event.charCode >= 48 && event.charCode <= 57" name="phone"  required maxlength="20" value="{{ contact.phone }}"/>  
      {% if form.phone.errors %}
      {{form.phone.errors}}
      {% endif %}
  </div>  
   </div> 
    <div class="form-group row">  
  <label class="col-sm-2 col-form-label"> image: {{contact.photo}}</label>  
     <input id="id_image" type="file" accept="image/*" name="photo" value= {{contact.photo}}>
   </div>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Submit</button>  
  </div>  
   </div>  
  </div>  
 </form>  
</div> 
{% endblock content %} 