{% extends "contact/base.html" %}
{% block tittle %}
    Contact Records
{% endblock tittle %}

{% block content %}
   <div class="col-md-12">
        <h4>Django CRUD (Create Read Update Delete) Example - Bootstrap Datatable</h4> <span><a href="/addnew" class="btn btn-primary">Add New Contact</a></span>  
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered table-image" width="100%">
            <thead>
                <th><input type="checkbox" id="checkall" /></th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido
                <th>Email</th>
                <th>Celular</th>
                <th>Imagen</th>
             </thead>
   <tbody>
   {% for contact in contacts %}  
    <tr>  
     <td><input type="checkbox" class="checkthis" /></td>
     <td>{{ forloop.counter}}</td>  
     <td>{{ contact.name }}</td>  
     <td>{{ contact.last_name }}</td>  
     <td>{{ contact.email }}</td>  
     <td>{{ contact.phone }}</td>  
     <td class="w-25">
     {% if contact.photo %}
        <img src="{{contact.photo.url}}" class="img-fluid img-thumbnail" >
     {% else %}
        No hay imagen 
     {% endif %}
		
	</td>  
     <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ contact.id }}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></a></p></td>
     <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ contact.id }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></a></p></td>  
    </tr>  
   {% endfor %} 
   </tbody>
        
  </table>
        </div>
    </div>

{% endblock content %}